h2{
	text-align:center;
}
body{
	background-color: #efefef;
}

.wrapper {
	width: 500px;
	margin: 0 auto;
	padding: 20px 60px 37px;
	border: 1px solid #e7d7d7;
	background-color: #ffffff;
}

.gm-text-center {
	text-align: center;
}

.block {
	padding: 10px;
}

.gm-border-bottom {
	border-bottom: 2px solid gray;
}

a
 {
	margin-left: 0px;
}
hr{
	width: 100%;
}
ul{
	margin-left: -20px;



